In [5]:
conda install -c conda-forge fbprophet

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.12
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /anaconda3/envs/TensorFlow

  added / updated specs:
    - fbprophet


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.6.16  |       hecc5488_0         145 KB  conda-forge
    cython-0.29.13             |   py36h6de7cb9_0         2.1 MB  conda-forge
    ephem-3.7.6.0              |py36h1de35cc_1001         679 KB  conda-forge
    ld64-274.2                 |                1         2.9 MB
    lunardate-0.2.0            |             py_0          21 KB  conda-forge
    clang-4.0.1                |                1        73.9 MB  conda-forge
    clangxx-4.0.1              |                1         263 KB  conda-forge
    openssl-1.1.1c             |       h01d97ff_0         1.9 MB  conda-forge
    llvm-lto-tapi-4.0.1        |                1        11.9 MB  conda-forge
    convertdate-2.1.3          |          py_1000          30 KB  conda-forge
    clang_osx-64-4.0.1         |      h1ce6c1d_17         145 KB  conda-forge
    clangxx_osx-64-4.0.1       |      h22b1bf0_17         146 KB  conda-forge
    pystan-2.17.1.0            |py36h051e8ed_1004        14.2 MB  conda-forge
    certifi-2019.6.16          |           py36_1         149 KB  conda-forge
    llvm-4.0.1                 |                1       136.6 MB  conda-forge
    cctools-895                |                1         1.9 MB  conda-forge
    fbprophet-0.5              |   py36h6de7cb9_0         639 KB  conda-forge
    holidays-0.9.11            |             py_0          39 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       247.5 MB

The following NEW packages will be INSTALLED:

    cctools:         895-1                      conda-forge
    clang:           4.0.1-1                    conda-forge
    clang_osx-64:    4.0.1-h1ce6c1d_17          conda-forge
    clangxx:         4.0.1-1                    conda-forge
    clangxx_osx-64:  4.0.1-h22b1bf0_17          conda-forge
    compiler-rt:     4.0.1-hcfea43d_1
    convertdate:     2.1.3-py_1000              conda-forge
    cython:          0.29.13-py36h6de7cb9_0     conda-forge
    ephem:           3.7.6.0-py36h1de35cc_1001  conda-forge
    fbprophet:       0.5-py36h6de7cb9_0         conda-forge
    holidays:        0.9.11-py_0                conda-forge
    ld64:            274.2-1
    llvm:            4.0.1-1                    conda-forge
    llvm-lto-tapi:   4.0.1-1                    conda-forge
    lunardate:       0.2.0-py_0                 conda-forge
    pystan:          2.17.1.0-py36h051e8ed_1004 conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.5.15-0                            --> 2019.6.16-hecc5488_0 conda-forge
    certifi:         2019.6.16-py36_0                       --> 2019.6.16-py36_1     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1c-h1de35cc_1                      --> 1.1.1c-h01d97ff_0    conda-forge


Downloading and Extracting Packages
ca-certificates-2019 | 145 KB    | ##################################### | 100%
cython-0.29.13       | 2.1 MB    | ##################################### | 100%
ephem-3.7.6.0        | 679 KB    | ##################################### | 100%
ld64-274.2           | 2.9 MB    | ##################################### | 100%
lunardate-0.2.0      | 21 KB     | ##################################### | 100%
clang-4.0.1          | 73.9 MB   | ##################################### | 100%
clangxx-4.0.1        | 263 KB    | ##################################### | 100%
openssl-1.1.1c       | 1.9 MB    | ##################################### | 100%
llvm-lto-tapi-4.0.1  | 11.9 MB   | ##################################### | 100%
convertdate-2.1.3    | 30 KB     | ##################################### | 100%
clang_osx-64-4.0.1   | 145 KB    | ##################################### | 100%
clangxx_osx-64-4.0.1 | 146 KB    | ##################################### | 100%
pystan-2.17.1.0      | 14.2 MB   | ##################################### | 100%
certifi-2019.6.16    | 149 KB    | ##################################### | 100%
llvm-4.0.1           | 136.6 MB  | ##################################### | 100%
cctools-895          | 1.9 MB    | ##################################### | 100%
fbprophet-0.5        | 639 KB    | ##################################### | 100%
holidays-0.9.11      | 39 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install fbprophet

Requirement already satisfied: fbprophet in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (0.5)
Requirement already satisfied: matplotlib>=2.0.0 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (3.1.0)
Requirement already satisfied: setuptools-git>=1.2 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (1.2)
Requirement already satisfied: pystan>=2.14 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (2.19.0.0)
Requirement already satisfied: lunardate>=0.1.5 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (0.2.0)
Requirement already satisfied: holidays>=0.9.5 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (0.9.11)
Requirement already satisfied: convertdate>=2.1.2 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (2.1.3)
Requirement already satisfied: numpy>=1.10.0 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (1.16.4)
Requirement already satisfied: Cython>=0.22 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (0.29.13)
Requirement already satisfied: pandas>=0.23.4 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from fbprophet) (0.24.2)
Requirement already satisfied: cycler>=0.10 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from matplotlib>=2.0.0->fbprophet) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from matplotlib>=2.0.0->fbprophet) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from matplotlib>=2.0.0->fbprophet) (2.8.0)
Requirement already satisfied: six in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from holidays>=0.9.5->fbprophet) (1.12.0)
Requirement already satisfied: ephem<3.8,>=3.7.5.3 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from convertdate>=2.1.2->fbprophet) (3.7.6.0)
Requirement already satisfied: pytz<2020,>=2014.10 in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from convertdate>=2.1.2->fbprophet) (2019.1)
Requirement already satisfied: setuptools in /anaconda3/envs/TensorFlow/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
import numpy as np

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import os

from fbprophet import Prophet

In [66]:
data=pd.read_csv("fuku_data")

In [67]:
colum=data.iloc[135792,0:9]
colum
data=data.iloc[:-1,0:9]
data.columns=[i for i in colum]

data.head()
data.tail()

,Date,Time,MP-1(microSv/h),MP-2(microSv/h),MP-3(microSv/h),MP-4(microSv/h),MP-5(microSv/h),MP-6(microSv/h),MP-7(microSv/h)
135787,2019/08/10,23:10,0.194,0.174,0.297,0.281,0.274,0.147,0.092
135788,2019/08/10,23:20,0.195,0.173,0.297,0.279,0.273,0.147,0.092
135789,2019/08/10,23:30,0.192,0.173,0.297,0.278,0.271,0.148,0.091
135790,2019/08/10,23:40,0.191,0.173,0.300,0.281,0.270,0.148,0.090
135791,2019/08/10,23:50,0.194,0.174,0.299,0.282,0.274,0.148,0.091

In [68]:
data["DateTime"]=pd.to_datetime(data['Date'] + ' ' + data['Time'])

#data['DateTime'] = data['DateTime'].astype('datetime64[ns]')

data=data.drop(["Date","Time"],axis=1)

cols = data.columns.tolist()
cols = cols[-1:] + cols[:-1]
data=data[cols]

data.head()

,DateTime,MP-1(microSv/h),MP-2(microSv/h),MP-3(microSv/h),MP-4(microSv/h),MP-5(microSv/h),MP-6(microSv/h),MP-7(microSv/h)
0,2017-01-01 00:00:00,0.39,0.239,0.404,0.376,0.34,0.194,0.166
1,2017-01-01 00:10:00,0.389,0.24,0.406,0.373,0.339,0.194,0.165
2,2017-01-01 00:20:00,0.39,0.239,0.403,0.375,0.341,0.194,0.167
3,2017-01-01 00:30:00,0.39,0.24,0.403,0.375,0.34,0.193,0.166
4,2017-01-01 00:40:00,0.39,0.24,0.404,0.375,0.34,0.194,0.166

In [52]:
data.describe()

,DateTime,MP-1(microSv/h),MP-2(microSv/h),MP-3(microSv/h),MP-4(microSv/h),MP-5(microSv/h),MP-6(microSv/h),MP-7(microSv/h)
count,135792,135792.00,135792.000,135792.000,135792.000,135792.000,135792.000,135792.000
unique,135792,397.00,183.000,309.000,274.000,187.000,157.000,190.000
top,2017-04-19 18:30:00,0.34,0.192,0.312,0.297,0.279,0.155,0.095
freq,1,1935.00,4408.000,2430.000,2960.000,4392.000,5528.000,10497.000
first,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2019-08-10 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# MP1

In [100]:
mp1=data[["DateTime","MP-1(microSv/h)"]].reset_index(drop=True)
mp1=mp1.rename(columns={ "DateTime" : "ds", "MP-1(microSv/h)" : "y"})
mp1.head()

sample=mp1.iloc[:500,:]
sample.tail()

                     ds      y
495 2017-01-04 10:30:00  0.393
496 2017-01-04 10:40:00  0.392
497 2017-01-04 10:50:00  0.394
498 2017-01-04 11:00:00  0.391
499 2017-01-04 11:10:00  0.391

TypeError: unsupported operand type(s) for -: 'float' and 'list'

In [103]:
#sample.plot( x= "DateTime", y="MP-1(microSv/h)", figsize=(16,8))
#mp1.plot(x="ds", y="y", figsize=(16,8))

In [93]:
# scatter_plot=plt.figure()
# ax=scatter_plot.add_subplot(1,1,1)

# ax.scatter(
#     x=sample["DateTime"],
#     y=sample["MP-1(microSv/h)"],
#     alpha=0.5
# )

# Fit

In [104]:
model=Prophet()
model.fit(mp1)

ValueError: Unable to parse string "-" at position 3372